.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.container span {
    display: flex;
    align-items: center;
    gap: 5px;
}
.container img {
    width: 20px;
}
.container .skillList{
    display: flex;
    justify-content: space-evenly;
    align-self:center;
    flex-wrap: wrap;
    row-gap: 40px;
    max-width: 26ch;
}
.container hr {
    width: 100px;
    height: 1px;
    border: none;
    background-color: var(--text-color);
    margin: 30px auto;
}
@media (width>=800px) {
    .container .skillList {
        max-width: fit-content;
        gap: 30px;
    }
    .container .skillList p {
        font-size: 20px;
    }
    .container hr {
        width: 300px;
    }
}